@import url(https://fonts.googleapis.com/css?family=Lato:300);
@keyframes fadeIn{
    from{opacity:0; transform: translateY(-30px);}
    to{opacity:1; transform: translateY(0px);}
}
@keyframes delayedfadeIn{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}
#starting {
    min-height: 100vh;
    background: rgb(0, 0, 0);
    padding-top: 20px;
}
#titles {
    text-align: center;
    animation-name:delayedfadeIn;
    animation-duration:2s;
}
.title, h1 {
    line-height: 48px;
    line-height: 3rem;
    font-size: 50px;
    font-size: 2.5rem;
    font-weight: bolder;
    letter-spacing: -3.2px;
    letter-spacing: -0.2rem;
}
h3{
    padding-top: 30px;
    text-align: center;
    animation-name: delayedfadeIn;
    animation-duration: 2s;
}
.w-line {
    animation-name: delayedfadeIn;
    animation-duration: 3s;
}
#starting > p {
    padding: 0 5%;
    line-height: 20px;
    line-height: 1.5rem;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
}
#name-input {
    box-sizing: border-box;
    margin: 20px 25% 10px 25%;
    width: 50%;
}
#name-input > input {
    width: 100%;
    height: 40px;
    border: 1px #ddd solid;
    border-radius: 20px;
    font-weight: lighter;
    font-size: 19.2px;
    font-size: 1.2rem;
    text-align: center;
    animation-name: delayedfadeIn;
    animation-duration: 4s;
}
.noinput {
    display: inline-block;
    margin: 10px 10%;
    width: 80%;
    text-align: center;
    animation-name: delayedfadeIn;
    animation-duration: 4s;
}
.warning {
color: rgba(233, 73, 73, 0.884);
font-weight: bold;
}
.startbtn {
    margin-left: 40%;
    width: 20%;
    animation-name: delayedfadeIn;
    animation-duration: 4s;
}
.start {
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    line-height: 30px;
    border-radius: 50px;
    text-align: center;
    background-color: rgba(31, 204, 31, 0.788);
    color:aliceblue;
    font-weight: 600;
    font-size: 15px;
    cursor: pointer;
}
