@import url(https://fonts.googleapis.com/css?family=Lato:300);
@keyframes fadeIn{
    from{opacity:0; transform: translateY(-10px);}
    to{opacity:1; transform: translateY(0px);}
}
@keyframes delayedfadeIn{
    0%{opacity:0}
    50%{opacity:0}
    100%{opacity:1}
}
#header {
    position: fixed;
    top: 0; left: 0;
    z-index: 5;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 5px;
    width: 100%;
    height: 50px;
    box-shadow: rgb(0, 0, 0) 0 0 10px 5px;
    background:rgb(0, 0, 0);
    animation-name: fadeIn;
    animation-duration: 2s;
    text-align:center;
  }
#blog{
    color:rgb(63, 238, 63);
    font-weight:100;
    font-size:20px; 
}
#footer {
    z-index: 5;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    text-align: center;
    box-shadow: rgb(0, 0, 0) 0 0 15px 2px;
    background: rgb(0, 0, 0);
    font-weight: lighter;
    animation-name: delayedfadeIn;
    animation-duration: 5s;
    color:aliceblue;
}
#footer > div {
    box-sizing: border-box;
    height: 30px;
}
a{
    width:auto;
    color: rgb(236, 96, 96);
}