@keyframes fadeIn{
    from{opacity:0; transform: translateY(-10px);}
    to{opacity:1; transform: translateY(0px);}
}
@keyframes fadeOut{
    from{opacity:1;}
    to{opacity:0;}
}
.fade-out-5-4{
    animation: fadeOut 0.5s 0.4s;
}
#qna {
    display: none;
    opacity: 0;
}
.status-bar {
    margin: 0 12.5% 20px;
    width: 75%;
    height: 15px;
    border-radius: 20px;
    background: rgb(255, 255, 255);
    animation-name: fadeIn;
    animation-duration: 1s;
}
.status {
    height: 100%;
    border-radius: 20px;
    background-color: rgba(31, 204, 31, 0.788);
}
.box {
    margin: 0 auto;
    padding: 20px;
    width: 80%;
    border-radius: 20px;
    background: rgb(48, 48, 48);
    color:aliceblue;
 }
.q {
    box-sizing: border-box;
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bolder;
    animation-name: fadeIn;
    animation-duration: 0.5s;
   /* opacity: 0;*/
}
.answer {
    width: 100%;
}
.a {
    margin: 20px 10% 0 10%;
    padding: 15px;
    border: none;
    font-size: 15px;
    font-weight: bolder;
    text-align: left;
    transition: background-color, color 0.2s linear;
    opacity: 0;
    cursor: pointer;
}
.a:hover, .a:focus {
    background: aliceblue;
    color: rgb(0, 0, 0);
}
.a:last-child {
    margin-bottom: 60px;
}
